@font-face {
  font-family: "crackman";
  src: url(../fonts/crackman.ttf);
}

@font-face {
  font-family: "animals";
  src: url(../fonts/Animales.ttf);
}

@font-face {
  font-family: "answer";
  src: url(../fonts/Answer.ttf);
}

@font-face {
  font-family: "answer3d";
  src: url(../fonts/Answer3DFilled-Italic.ttf);
}

@font-face {
  font-family: "assyrian";
  src: url(../fonts/Assyrian.ttf);
}

@font-face {
  font-family: "assyrian3d";
  src: url(../fonts/Assyrian3D.ttf);
}

@font-face {
  font-family: "facon";
  src: url(../fonts/Facon.ttf);
}

html {
  background-image: url("../img/background.png");
  background-size: cover;
}

.join-room {
  height: 423px !important;
}

.create-room {
  height: 355px !important;
}

.landing {
  &-container {
    margin: 15% auto;
    width: 900px;
    height: 245px;
    background-color: lightcyan;
    border-left: 5px solid;
    border-right: 5px solid;

    &-header {
      border-top: 5px dashed black;
      padding-top: 25px;
      font-size: 70px;
      text-align: center;
      font-family: crackman;
      letter-spacing: 1rem;
      text-transform: uppercase;
      font-weight: 700;
      background-image: linear-gradient(to right, blue, red);
      -webkit-background-clip: text;
      color: transparent;
      letter-spacing: 0.2rem;
      text-shadow: 0.5rem 1rem 2rem rgba(black, 0.2);
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      border-bottom: 5px dashed black;
      padding-bottom: 41px;
    }

    &-button {
      outline: none;
      font-family: crackman;
      font-size: 45px;
      // background-color: transparent;
      // border: 1px solid #bbb;
      border: none;
      height: 38px;
      padding: 0 30px;
      margin: 0 auto;
      line-height: 38px;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      white-space: nowrap;
      box-sizing: border-box;
      text-transform: uppercase;
      font-weight: 700;
      background-image: linear-gradient(to right, blue, red);
      -webkit-background-clip: text;
      color: transparent;
      letter-spacing: 0.2rem;
      text-shadow: 0.5rem 1rem 2rem rgba(black, 0.2);

      &:hover {
        cursor: pointer;
      }
    }

    &-form {
      text-align: center;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: column;

      input[type="text"] {
        outline: none;
        font-family: assyrian;
        margin: 10px auto;
        text-align: center;
        letter-spacing: 0.2rem;
        box-sizing: border-box;
        border-radius: 5px;
        width: 280px;
        height: 48px;
        font-size: 20px;

        &:hover {
          cursor: default;
        }
      }

      &-buttons {
        border-bottom: 5px dashed black;
        padding-bottom: 40px;
        margin: 43px 0;
      }

      &-button {
        outline: none;
        border-radius: 10px;
        font-family: answer3d;
        font-size: 45px;
        // background-color: transparent;
        // border: 1px solid #bbb;
        border: none;
        height: 38px;
        padding: 0 50px;
        margin: 0 auto;
        line-height: 38px;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        white-space: nowrap;
        box-sizing: border-box;
        text-transform: uppercase;
        font-weight: 700;
        background-image: linear-gradient(to right, blue, red);
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: 0.2rem;
        text-shadow: 0.5rem 1rem 2rem rgba(black, 0.2);

        &:first-child {
          margin-right: 20px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
