@font-face {
  font-family: "crackman";
  src: url(../fonts/crackman.ttf); }

@font-face {
  font-family: "animals";
  src: url(../fonts/Animales.ttf); }

@font-face {
  font-family: "answer";
  src: url(../fonts/Answer.ttf); }

@font-face {
  font-family: "answer3d";
  src: url(../fonts/Answer3DFilled-Italic.ttf); }

@font-face {
  font-family: "assyrian";
  src: url(../fonts/Assyrian.ttf); }

@font-face {
  font-family: "assyrian3d";
  src: url(../fonts/Assyrian3D.ttf); }

@font-face {
  font-family: "facon";
  src: url(../fonts/Facon.ttf); }

.landing-container {
  margin: 20% auto;
  width: 900px;
  height: 200px; }
  .landing-container-header {
    border-top: 1px dashed grey;
    padding-top: 25px;
    font-size: 55px;
    text-align: center;
    font-family: facon;
    letter-spacing: 1rem; }
  .landing-container-buttons {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed grey;
    padding-bottom: 50px; }
  .landing-container-button {
    outline: none;
    font-family: crackman;
    font-size: 35px;
    background-color: transparent;
    border: 1px solid #bbb;
    height: 38px;
    padding: 0 30px;
    margin: 0 auto;
    line-height: 38px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    white-space: nowrap;
    box-sizing: border-box; }
    .landing-container-button:hover {
      cursor: pointer; }
  .landing-container-form {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .landing-container-form input[type="text"] {
      margin: 0 auto;
      text-align: center;
      letter-spacing: 0.2rem;
      box-sizing: border-box;
      border-radius: 5px;
      width: 280px;
      height: 48px;
      font-size: 20px; }
      .landing-container-form input[type="text"]:hover {
        cursor: default; }
    .landing-container-form-buttons {
      border-bottom: 1px dashed grey;
      padding-bottom: 50px;
      margin: 30px 0; }
    .landing-container-form-button {
      outline: none;
      border-radius: 10px;
      font-family: answer3d;
      font-size: 25px;
      background-color: transparent;
      border: 1px solid #bbb;
      height: 38px;
      padding: 0 30px;
      margin: 0 auto;
      line-height: 38px;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      white-space: nowrap;
      box-sizing: border-box; }
      .landing-container-form-button:first-child {
        margin-right: 20px; }
      .landing-container-form-button:hover {
        cursor: pointer; }
