.players-container {
  width: 500px;
  margin: 0 auto;
  font-size: 50px;
  color: red;
  &-list {
    display: flex;
    justify-content: space-between;
  }
}

table {
  width: 500px;

  tr {
    display: flex;
    justify-content: space-between;
  }
}
