.players-container {
  width: 500px;
  margin: 0 auto;
  font-size: 50px;
  color: red; }
  .players-container-list {
    display: flex;
    justify-content: space-between; }

table {
  width: 500px; }
  table tr {
    display: flex;
    justify-content: space-between; }
