.words-container {
  width: 600px; }
  .words-container-header {
    text-align: center;
    font-size: 50px; }
  .words-container-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap; }
    .words-container-list li {
      font-size: 30px;
      margin: 15px; }
