.words-container {
  width: 600px;
  &-header {
    text-align: center;
    font-size: 50px;
  }

  &-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;

    li {
      font-size: 30px;
      margin: 15px;
    }
  }
}
