@font-face {
  font-family: "crackman";
  src: url(../fonts/crackman.ttf); }

@font-face {
  font-family: "animals";
  src: url(../fonts/Animales.ttf); }

@font-face {
  font-family: "answer";
  src: url(../fonts/Answer.ttf); }

@font-face {
  font-family: "answer3d";
  src: url(../fonts/Answer3DFilled-Italic.ttf); }

@font-face {
  font-family: "assyrian";
  src: url(../fonts/Assyrian.ttf); }

@font-face {
  font-family: "assyrian3d";
  src: url(../fonts/Assyrian3D.ttf); }

@font-face {
  font-family: "facon";
  src: url(../fonts/Facon.ttf); }

.final-score-container {
  margin-top: 5rem;
  text-align: center; }
  .final-score-container-title {
    font-size: 6rem;
    font-family: assyrian;
    letter-spacing: 0.7rem;
    font-weight: 700; }
  .final-score-container-list-container {
    margin: 0 auto;
    width: 500px; }
    .final-score-container-list-container .list-item {
      padding-top: 6px;
      font-family: assyrian3d;
      font-size: 3.5rem;
      width: 500px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      margin: 2rem 0;
      border-radius: 10px; }
      .final-score-container-list-container .list-item-rank {
        padding: 1rem;
        border-radius: 10px; }
      .final-score-container-list-container .list-item-container {
        padding: 1rem;
        border-radius: 10px; }
        .final-score-container-list-container .list-item-container-score {
          padding: 1rem;
          border-radius: 10px; }
  .final-score-container-buttons {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: 0 auto;
    margin-top: 5rem; }
    .final-score-container-buttons-button-container {
      margin: 10px;
      background-color: black;
      padding: 10px;
      border-radius: 15px; }
      .final-score-container-buttons-button-container .button {
        outline: none;
        font-family: crackman;
        font-size: 45px;
        border: none;
        height: 38px;
        padding: 0 30px;
        margin: 0 auto;
        line-height: 38px;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        white-space: nowrap;
        box-sizing: border-box;
        text-transform: uppercase;
        font-weight: 700;
        background-image: linear-gradient(to right, #93eed7, #2c6a67);
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: 0.2rem;
        text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
        .final-score-container-buttons-button-container .button:hover {
          cursor: pointer; }

.first-rank {
  background-color: gold !important; }
