@font-face {
  font-family: "crackman";
  src: url(../fonts/crackman.ttf); }

@font-face {
  font-family: "animals";
  src: url(../fonts/Animales.ttf); }

@font-face {
  font-family: "answer";
  src: url(../fonts/Answer.ttf); }

@font-face {
  font-family: "answer3d";
  src: url(../fonts/Answer3DFilled-Italic.ttf); }

@font-face {
  font-family: "assyrian";
  src: url(../fonts/Assyrian.ttf); }

@font-face {
  font-family: "assyrian3d";
  src: url(../fonts/Assyrian3D.ttf); }

@font-face {
  font-family: "facon";
  src: url(../fonts/Facon.ttf); }

@font-face {
  font-family: "condition";
  src: url(../fonts/condition.ttf); }

@font-face {
  font-family: "condition3d";
  src: url(../fonts/condition3d.ttf); }

@font-face {
  font-family: "edit";
  src: url(../fonts/editpoint.ttf); }

@font-face {
  font-family: "editf";
  src: url(../fonts/editpointfill.ttf); }

@font-face {
  font-family: "grow";
  src: url(../fonts/growlyns.ttf); }

@font-face {
  font-family: "qu";
  src: url(../fonts/qubio.ttf); }

@font-face {
  font-family: "qubioshadow";
  src: url(../fonts/qubioshadow.ttf); }

@font-face {
  font-family: "rad";
  src: url(../fonts/radcliffe.ttf); }

@font-face {
  font-family: "stoica";
  src: url(../fonts/Stoica.ttf); }

@font-face {
  font-family: "flat";
  src: url(../fonts/Flaticon.ttf); }

body {
  background: url("../img/background.png") no-repeat center center fixed;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.join-room {
  height: 385px !important; }

.create-room {
  height: 320px !important; }

.landing-container {
  margin: 15% auto;
  width: 900px;
  height: 300px;
  background-color: #74ecd0;
  border-radius: 20px; }
  .landing-container h3 {
    padding: 0;
    margin: 0; }
  .landing-container-header {
    margin-bottom: 15px;
    padding-top: 25px;
    font-size: 70px;
    text-align: center;
    font-family: qubioshadow;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, blue, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .landing-container-buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 41px; }
    .landing-container-buttons a {
      text-decoration: none;
      display: flex;
      flex-flow: column;
      justify-content: center; }
      .landing-container-buttons a i {
        text-align: center;
        font-size: 55px;
        padding: 5px;
        text-decoration: none;
        color: purple; }
  .landing-container-button {
    outline: none;
    font-family: qubioshadow;
    font-size: 35px;
    border: none;
    height: 38px;
    padding: 0 30px;
    margin: 0 auto;
    line-height: 38px;
    letter-spacing: 0.2rem;
    white-space: nowrap;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, blue, red);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
    .landing-container-button:hover {
      cursor: pointer; }
  .landing-container-form {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 45px; }
    .landing-container-form .create-errors {
      margin-top: 15px;
      padding: 5px;
      position: relative;
      background: #bb3500;
      border-radius: 0.4em;
      width: 250px;
      margin: 0 auto;
      font: bold; }
      .landing-container-form .create-errors:after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom-color: #bb3b00;
        border-top: 0;
        margin-left: -15px;
        margin-top: -10px; }
    .landing-container-form input[type="text"] {
      outline: none;
      font-family: rad;
      margin: 10px auto;
      text-align: center;
      letter-spacing: 0.2rem;
      box-sizing: border-box;
      border-radius: 5px;
      width: 280px;
      height: 48px;
      font-size: 20px;
      text-transform: none; }
      .landing-container-form input[type="text"]:hover {
        cursor: default; }
    .landing-container-form-buttons {
      display: flex;
      justify-content: space-around;
      padding-bottom: 40px; }
      .landing-container-form-buttons a {
        text-decoration: none;
        display: flex;
        flex-flow: column;
        justify-content: center; }
        .landing-container-form-buttons a i {
          text-align: center;
          font-size: 55px;
          padding: 5px;
          text-decoration: none;
          color: purple; }
    .landing-container-form-button {
      outline: none;
      border-radius: 10px;
      font-family: qubioshadow;
      font-size: 35px;
      border: none;
      height: 38px;
      padding: 0 50px;
      margin: 0 auto;
      line-height: 38px;
      letter-spacing: 0.2rem;
      white-space: nowrap;
      box-sizing: border-box;
      text-transform: uppercase;
      font-weight: 700;
      background-image: linear-gradient(to right, blue, red);
      -webkit-background-clip: text;
      color: transparent;
      letter-spacing: 0.2rem;
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
      .landing-container-form-button:hover {
        cursor: pointer; }
