.players-score-container {
  h1 {
    text-align: center;
    font-size: 50px;
    font-family: condition;
    font-size: 5rem;
    text-transform: uppercase;
    background-color: rgba(100, 200, 256, 0.5);
    padding: 10px;
    border-radius: 20px;
  }
  table {
    width: 400px;

    tr {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      font-size: 30px;

      &:first-child {
        background-color: rgba(100, 200, 256, 0.5);
        padding: 10px;
        border-radius: 20px;
        margin-bottom: 15px;
      }
    }
  }
}
