@font-face {
  font-family: "qubioshadow";
  src: url(../fonts/qubioshadow.ttf);
}

@font-face {
  font-family: "answer";
  src: url(../fonts/Answer.ttf);
}

.created-room {
  .created-room-container {
    margin: 8% auto;
    width: 900px;
    height: 320px;
    background-color: #74ecd0;
    border-radius: 20px;
    .game-start-container {
      display: flex;
      justify-content: space-around;
    }

    &-inner {
      &-header {
        display: flex;
        flex-flow: column;
        padding-top: 25px;
        font-size: 60px;
        text-align: center;
        font-family: qubioshadow;
        letter-spacing: 1rem;
        text-transform: uppercase;
        font-weight: 700;
        background-image: linear-gradient(to right, blue, red);
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: 0.2rem;
        text-shadow: 0.5rem 1rem 2rem rgba(black, 0.2);

        span {
          margin: 0 auto;
          padding-top: 1.5rem;
        }
      }

      &-header-sub {
        span {
          text-transform: uppercase;
          color: black;
          font-family: qubioshadow;
          font-size: 1.6rem;
        }

        text-align: center;
        font-family: answer;
        font-size: 1.6rem;
        line-height: 38px;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        white-space: nowrap;
        box-sizing: border-box;
        text-transform: none;
        font-weight: 700;
        background-image: linear-gradient(to right, blue, red);
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: 0.2rem;
        text-shadow: 0.5rem 1rem 2rem rgba(black, 0.2);
      }

      .landing-container-form-buttons {
        text-align: center;
      }
    }
  }
}
